* {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
}

.font-custom {
    font-family:  monospace;
    letter-spacing: -1px;
}

body {
    background: #f9f9f9 url('../img/subtle_dots.png') repeat;
    color: #222;
    font: 15px/24px monospace;
    text-shadow: 0 1px 1px rgba(0,0,0,.25);
    letter-spacing: -0.01em;
}

span#errorName {
    text-decoration: line-through
}

ul.content-left {
    list-style: none;
    position: absolute;
    left: 130px;
    top: 30%;
    width: 58%;
    margin-top: -62px;
}

ul.content-right {
    list-style: none;
    position: absolute;
    right: 130px;
    top: 30%;
    margin-top: -62px;
}

ul li {
    padding: 10px 0;
}

ul.content-right li:not(#first-line) {
    padding: 5px 0;
}

#first-line {
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #111;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    background: #111;
    color: #fff;
}

a:hover {
    background: #84a403;
    color: #fff;
}

@media (max-width: 550px) {
    body {
        font-size: 15px;
        min-height: 530px;
    }
    ul.content-left {
        width: 80%;
        top: 20%;
        left: 10%;
        min-width: 290px;
    }
}